<cfinclude template="./Includes/accesscontrol.cfm" /> 



<cfif structkeyExists(url,'movieId')>
	
	<cfoutput >
		url.movieId: #url.movieId#
	</cfoutput>
	<cfset application.movieService.deleteMovie(url.movieId)>
	<cflocation url="/testMovieApp/index.cfm" />

	
<cfelse>
	<cflocation url="/testMovieApp/index.cfm?noaccess" />

</cfif>