
<!DOCTYPE html>
<html>
	<title>
		Test Movie App
	</title>
	<link href="./css/testMovieApp.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>




<body>
